<br/><h1>Welcome <%= @name.first_name.capitalize %></h1>
<h5>Ici c'est chez toi.</h5>

  <p>
    Au cas où tu l'aurais oublié, tu as <%= @name.age %> ans<br/>
    Et tu es née à <%= @name.origin %>.
  </p>
